.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") center
    no-repeat;
  background-size: cover;
}
.loginScreen_logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 150px;
  object-fit: contain;
  padding-left: 10px;
}
.loginScreen_signInButton {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  background-color: #e50914;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 2px;
}
.loginScreen_gradient {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen_body {
  width: 80%;
  position: absolute;
  top: 25%;
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  z-index: 1;
}
.loginScreen_body > h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.loginScreen_body > h2 {
  font-size: 1.625rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.loginScreen_body > h3 {
  font-size: 1.125rem;
  font-weight: 400;
}
.loginScreen_input {
  margin-top: 20px;
}
.loginScreen_input > form > input {
  padding: 10px;
  outline-width: 0;
  width: 35%;
  border: none;
  max-width: 600px;
  height: 30px;
}
.loginScreen_getStarted {
  padding: 16px 20px;
  font-size: 0.95rem;
  border: none;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}
